*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#f8faf0;
    font-family: calibri;
}



nav{
    width: 100%;
    height: 90px;
    margin: 0;
    background-image: linear-gradient(to right,#8f133c, #fcd2d2);
}


.navbar__logo{
    width: 50px;
    height: 50px;
   
}
.navbar__nombre{
    font-family:sans-serif;
    color: #f7f4f4;
    font-size: 20px;
    padding-left: 20px;
}


nav ul li a{
    text-decoration: none;
    color: #331317;
    cursor:pointer;
    margin-inline: 20px;
}

nav ul li:hover{
    background-color:#f8dae4 ;
    border-radius: 5px;
}

.headerIndex{
    width: 100%;
    height: 650px;
    
}

.headerIndex__div{
    background-image: url(../img/FONDO\ SITIO\ WEB.png);
    background-size: cover;
    display: flex;
    align-items: center;
}



h1{
    color:#c52258;
    height: 200px;
    text-align: center;
}

h1:hover{
    transition: 2s;
    transform: scale(1.5);
}

.headerIndex__div p{
    font-family: Calibri;
    font-size: 30px;
    color:rgb(75, 9, 9);
    text-align: center;
    padding: 30px;
}


.section{
    padding: 10px;
    height: auto;
    width: 60%;
    background-color: #8f133c;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    animation-name: trasladarse;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes trasladarse{
    0%{
        transform: translate(0px,0px);
    }


    25%{
        transform: translate(200px,0px);
        background-image: linear-gradient(to right, #fcd2d2 , #8f133c);
    }

    50%{
        transform: translate(0px,0px)
    }

    75%{
        transform: translate(-200px,0px);
        background-image: linear-gradient(to right, #8f133c , #fcd2d2);
    }
    100%{
        transform: translate(0px,0px)
        
    }
}

.section p{
    font-family: calibri;
    font-size: 28px;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.section a{
    text-decoration: none;
    text-align: center;
    background-color:#e6e2e2;
    padding: 10px;
    border-radius: 30px;
    margin: 5px;
    margin-inline: 15px;
    font-family: calibri;
    color:#570606;
    width: 200px;
    font-size: 20px;
}

.mainIndex{
    grid-area: main;
    height: 100%;
}


.cuerpo{
    margin:20px;
    text-align: center;
}
    
.cuerpo__texto{
    color: #570606;
    font-family: calibri;
    font-size: 28px;
    padding: 20px;
}

.cuerpo__nombre{
    color:#c24545;
    font-size: 35px;
    font-family: cursive;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.cuerpo__linea{
    color: #570606;
    font-family: calibri;
    font-size: 28px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.foto__img{
    width: 100%;
    height: 100%;
    align-items: center;
}

.footer{
    grid-area: footer;
    background-color: #8f113c;
    display: flex;
    padding: 5px;
    justify-content:space-around;
    align-items: center;
    flex-wrap:nowrap;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0;
}

.footer__copy{
    font-size: 15px;
    color: rgb(243, 198, 198);
    padding: 10px;
}

.footer a{
    display: flex;
    align-items: center;
}

.footer__logoIg{
    width: 80px;
    height: 80px;
    padding: 5px;
}

.footer__logoFb{
    width: 80px;
    height: 78px;
    padding: 5px;
}

/*P치gina Blog.html*/


.bodyBlog{
    background-image: url(../img/2-min.png);           
}

.headerBlog{
    height: 400px;
}


.blog__1{
    background-color: #f0cfcf;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 23px 9px -5px rgba(0,0,0,0.27); 
box-shadow: 0px 10px 13px -7px #000000, 0px 23px 9px -5px rgba(0,0,0,0.27);
}

.blog__1:hover{
    transition: 2s;
    transform: scale(1.1,1.1);
}

.blog__2{
    background-color: #f0cfcf;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 23px 9px -5px rgba(0,0,0,0.27); 
box-shadow: 0px 10px 13px -7px #000000, 0px 23px 9px -5px rgba(0,0,0,0.27);
}

.blog__2:hover{
    transition: 2s;
    transform: scale(1.1,1.1);
}

.blog__p{
    background-color: #d6f4f8;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 23px 9px -5px rgba(0,0,0,0.27); 
box-shadow: 0px 10px 13px -7px #000000, 0px 23px 9px -5px rgba(0,0,0,0.27);
}
.blog__p:hover{
    transition: 2s;
    transform: scale(1.1,1.1);
}

.blog__rec{
    background-color: #d6f4f8;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 23px 9px -5px rgba(0,0,0,0.27); 
box-shadow: 0px 10px 13px -7px #000000, 0px 23px 9px -5px rgba(0,0,0,0.27);
}
.blog__rec:hover{
    transition: 2s;
    transform: scale(1.1,1.1);
}

/* pagina Registrate.html*/

.bodyResgistro{
    background-image: url(../img/1-min.png);
}

.headerRegistro{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.headerRegistro div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.headerRegistro div p{
    margin-inline: auto;
    text-align: center;
}


.subtitulo{
    font-family: cursive;
    font-size: 20px;
    color: #070707;
    margin-top: 30px;
    text-align: center;
}

.mainRegistro{
   
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainRegistro div form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.mainRegistro div form div{
    display: flex;
}

.form__nombre{
    width: 350px;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
}

.form__apellido{
    width: 350px;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.correo{
    width: 750px;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.mensaje{
    width: 750px;
    height: 90px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.enviar{
    background-color: #d6f4f8;
    font-family: sans-serif;
    font-size: 20px;
    width: 750px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.enviar:hover{
    transition: 1s;
    transform: scale(1.2);
}

/* P치gina SobreMi.html*/

.bodyBio{
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 80px  1fr  1fr  80px;
    grid-template-areas:  "nav           nav"
                          "header        header"
                          "main          aside"
                          "footer        footer" 
}

.headerBio{
    grid-area: header;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #fcd2d2;
}

.headerBio div{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    text-align: center;
}

.headerBio img{
    width: 100%;
    height: 100%;

}

.headerBio div h1{
    margin-top: 10px;
    color: #8f113c;
}

.headerBio div p{
    margin: 20px;
}

.asideBio{
    grid-area: aside;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.mainBio{
    grid-area: main;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBio div{
    background-color: #fcd1df;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: star;
    flex-direction: column;
    padding: 25px;
    border-radius: 20px;
}

.mainBio div h2{
    font-family: cursive;
    font-size: 40px;
    color: #8f133c;
}

.mainBio div p{
    font-family: cursive;
    font-size: 20px;
    padding-bottom: 30px;
}

.mainBio__btn{
    border: 1px #8f113c;
    border-radius: 20px;
}

.mainBio div a{
    font-family: calibri;
    font-size: 20px;
    text-decoration: none;
    color:#0e0d0d;
    text-align: center;
    background-color: #c46f8b;
    border-radius: 18px;
    padding: 20px;
}

.mainBio div a:hover{
    background-color: #723046;
    border-radius: 15px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 20px;

}

.texto{
    font-family: cursive;
    font-size: 20px;
    color:#000;
    width: 550px;
    height: 350px;
    padding: 25px;
}

.imgContacto{
    width: 100%;
    height: 100%;
}




/* P치gina Cont치ctame.html*/

.bodyContacto{
    background-color: #e9c6d2;
    display: grid;
    grid-template-columns: 1fr   1fr;
    grid-template-rows: 80px   1fr  1fr 80px;
    grid-template-areas: "nav    nav"
                         "aside  header"
                         "aside  main"
                         "footer  footer"; 
}

.asideContacto{
    grid-area: aside;
}

.asideContacto img{
    width: 100%;
    height: 100%;
}

.headerContacto{
    grid-area: header;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloAsesoria{
    font-family: cursive;
    font-size: 35px;
    color: #8f113c;
    text-align: center;
}

.textoAsesoria{
    font-family: calibri;
    font-size: 18px;
    background-color: #e6e1e1;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin: 20px;
    padding: 15px;
}

.mainContacto{
    grid-area: main;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloContacto{
    font-family: cursive;
    font-size: 40px;
    color:#8f133c;
}

.redes{
    background-color:#e6e1e1;
    width: 350px;
    height: 100px;
    border-color: #070707;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items :center;
    padding: 10px;
    margin: 30px;
}

.redes__Ig{
    padding-right: 30px;
}
.redes__Fb{
    padding: 0px 30px;
}
.redes__Reg{
    padding-left: 30px;
}


@media(max-width:1000px){

    .tarjetasBlog{
        padding-bottom: 20px;
    }

    .tarjetasRecursos{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


@media(max-width:770px){

    .mainRegistro{
        width: 100%;
        height: 400px;
    }

    .form{
        display: flex;
        flex-direction: column;
        margin: 30px 20px;
    }

    .form div{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}




@media(max-width:580px){


    .foto__img{
        width: 400px;
        height: 400px;
        align-items: center;
        justify-content: center;
    }

    .footer{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}