*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#f8faf0;
    font-family: calibri;
}

.bodyIndex{
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 80px  600px  100px 1fr  80px;
    grid-template-areas:"nav     nav"
                        "header  header"
                        "section   section"
                        "main    aside"
                        "footer  footer";
}


nav{
    grid-area: nav;
    width: 100%;
    margin: 0;
    background-color: #c27979;
    background-image: linear-gradient(to right,#8f133c, #fcd2d2);
}


nav ul li{
    padding: 10px;   
}


.navbar__logo{
    width: 60px;
    height: 60px;
    left: 20px;
    top: 20px;

}
.navbar__nombre{
    font-family:sans-serif;
    color: #f7f4f4;
    font-size: 20px;
    padding-left: 10px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color: #331317;
    cursor:pointer;
}

nav ul li:hover{
    background-color:#f8dae4 ;
    border-radius: 5px;
}

.headerIndex{
    grid-area: header;
    width: 100%;
}

.headerIndex__div{
    background-image: url(../img/FONDO\ SITIO\ WEB.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.headerIndex__div h1{
    font-size: 90px;
    font-family: cursive;
    color:#c52258;
    margin-top: 50px;
}

.headerIndex__div h1:hover{
    transition: 2s;
    transform: scale(1.5);
}

.headerIndex__div p{
    font-family: Calibri;
    font-size: 30px;
    color:rgb(75, 9, 9);
    text-align: center;
    padding: 30px 80px;
}


.section{
    grid-area: section;
    width: 100%;
    height: 100%;
    background-color: #c7abb6;

}

.section div{
    display: flex;
    width: 100%;
    height: 100%;
    font-family: cursive;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.section div a{
    text-decoration: none;
    text-align: center;
    background-color:#e6e2e2;
    padding: 10px;
    border: 1px #e6e2e2;
    border-radius: 30px;
    margin: 20px
}

.mainIndex{
    grid-area: main;
    height: 100%;
}


.cuerpo{
    margin:20px;
    text-align: center;
}
    
.cuerpo__texto{
    color: #570606;
    font-family: calibri;
    font-size: 28px;
    padding: 20px;
}

.cuerpo__nombre{
    color:#c24545;
    font-size: 35px;
    font-family: cursive;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.cuerpo__linea{
    color: #570606;
    font-family: calibri;
    font-size: 28px;
    padding-top: 10px;
}

.asideIndex{
    grid-area: aside;
    display: flex;
    justify-content: center;
    align-content: center;
}
    
.foto__img{
    width: 100%;
    height: 100%;
    align-items: center;
}

.footer{
    grid-area: footer;
    background-color: #8f113c;
    display: flex;
    padding: 5px;
    justify-content:space-around;
    flex-wrap:nowrap;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0;
}

.footer__copy{
    font-size: 15px;
    color: rgb(243, 198, 198);
    padding: 10px;
}

.footer__logoIg{
    width: 80px;
    height: 80px;
    padding: 5px;
    align-items: center;
    text-align: center;
}

.footer__logoFb{
    width: 80px;
    height: 78px;
    padding: 5px;
    text-align: center;
    align-items: center;
}

/*P치gina Blog.html*/

h1{
    font-family: cursive;
    font-size: 50px;
    color:#c24545;
}


.bodyBlog{
    background-image: url(../img/2-min.png);
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 80px  300px  500px  80px;
    grid-template-areas:  "nav             nav"
                          "headerblog     headerblog"
                          "tarjetasBlog   tarjetasRecursos"
                          "footer         footer"                               
}


.headerBlog{
    grid-area: headerblog;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.headerBlog  h1{
    align-items: center;
    text-align: center;
}


.tarjetasBlog{
    grid-area: tarjetasBlog;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 60px;
    padding-bottom: 30px;
}
.blog__1{
    background-color: #f0cfcf;
    width: 500px;
    height: 160px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 23px 9px -5px rgba(0,0,0,0.27); 
box-shadow: 0px 10px 13px -7px #000000, 0px 23px 9px -5px rgba(0,0,0,0.27);
}


.blog__1 div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog__1__img{
    width: 200px;
    height: 160px;
    border-radius: 8px;
}

.blog__1__titulo{
    font-family: calibri;
    font-size: 25px;
    color: rgb(189, 48, 48);
    padding-left: 10px;
}

.blog__1__desc{
    font-family: calibri;
    font-size: 20px;
    padding-left: 10px;
}

.blog__1__btn1{
    font-family: calibri;
    font-size: 18px;
    color:rgb(189, 48, 48);
    background-color:#fff;
    padding: 3px;
    border-radius: 6px;
    width: 40%;
    margin-left: 10px;
    margin-bottom: 5px;
}

.blog__2{
    background-color: #f0cfcf;
    width: 500px;
    height: 160px;
    border-radius: 8px;
    display: flex;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 23px 9px -5px rgba(0,0,0,0.27); 
box-shadow: 0px 10px 13px -7px #000000, 0px 23px 9px -5px rgba(0,0,0,0.27);
}

.blog__2 div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog__2__img{
    width: 200px;
    height: 160px;
    border-radius: 8px;
}

.blog__2__titulo{
    font-family: calibri;
    font-size: 25px;
    color: rgb(189, 48, 48);
    padding-left: 10px;
}

.blog__2__desc{
    font-family: calibri;
    font-size: 20px;
    padding-left: 10px;
}

.blog__2__btn{
    font-family: calibri;
    font-size: 18px;
    color:rgb(189, 48, 48);
    background-color: #ffff;
    padding: 3px;
    margin-left: 10px;
    border-radius: 6px;
    width: 40%;
    margin-bottom: 5px;
}

.tarjetasRecursos{
    grid-area: tarjetasRecursos;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 60px;
    padding-bottom: 30px;
}

.blog__p{
    background-color: #d6f4f8;
    width: 500px;
    height: 160px;
    border-radius: 8px;
    display: flex;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 23px 9px -5px rgba(0,0,0,0.27); 
box-shadow: 0px 10px 13px -7px #000000, 0px 23px 9px -5px rgba(0,0,0,0.27);
}

.blog__p div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog__p__img{
    width: 200px;
    height: 160px;
    border-radius: 8px;
}

.blog__p__titulo{
    font-family: calibri;
    font-size: 25px;
    color: rgb(32, 58, 63);
    padding-left: 10px;
}

.blog__p__desc{
    font-family: calibri;
    font-size: 20px;
    padding-left: 10px;
}

.blog__p__btn{
    font-family: calibri;
    font-size: 18px;
    color:rgb(189, 48, 48);
    background-color:#fff;
    padding: 3px;
    margin-left: 10px;
    border-radius: 6px;
    width: 40%;
    margin-bottom: 5px;
}

.blog__rec{
    background-color: #d6f4f8;
    width: 500px;
    height: 160px;
    border-radius: 8px;
    display: flex;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 23px 9px -5px rgba(0,0,0,0.27); 
box-shadow: 0px 10px 13px -7px #000000, 0px 23px 9px -5px rgba(0,0,0,0.27);
}

.blog__rec div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog__rec__img{
    width: 200px;
    height: 160px;
    border-radius: 6px;
}

.blog__rec__titulo{
    font-family: calibri;
    font-size: 25px;
    color: rgb(189, 48, 48);
    padding-left: 10px;
}

.blog__rec__desc{
    font-family: calibri;
    font-size: 20px;
    padding: 10px;
}

.blog__rec__btn{
    font-family: calibri;
    font-size: 18px;
    color:rgb(189, 48, 48);
    background-color:#fff;
    padding: 3px;
    border-radius: 6px;
    width: 40%;
    margin-left: 10px;
    margin-bottom: 5px;
}





/* pagina Registrate.html*/

.bodyResgistro{
    background-image: url(../img/1-min.png);
}

.headerRegistro{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.headerRegistro h1{
    text-align: center;
}


.subtitulo{
    font-family: cursive;
    font-size: 20px;
    color: #070707;
    margin-top: 30px;
    text-align: center;
}

.mainRegistro{
   
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainRegistro div form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.mainRegistro div form div{
    display: flex;
}

.form__nombre{
    width: 350px;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
}

.form__apellido{
    width: 350px;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.correo{
    width: 750px;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.mensaje{
    width: 750px;
    height: 90px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.enviar{
    background-color: #d6f4f8;
    font-family: sans-serif;
    font-size: 20px;
    width: 750px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.enviar:hover{
    transition: 1s;
    transform: scale(1.2);
}

/* P치gina SobreMi.html*/

.bodyBio{
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 80px  1fr  1fr  80px;
    grid-template-areas:  "nav           nav"
                          "header        header"
                          "main          aside"
                          "footer        footer" 
}

.headerBio{
    grid-area: header;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #fcd2d2;
}

.headerBio div{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    text-align: center;
}

.headerBio img{
    width: 100%;
    height: 100%;

}

.headerBio div h1{
    margin-top: 10px;
    color: #8f113c;
}

.headerBio div p{
    margin: 20px;
}

.asideBio{
    grid-area: aside;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.mainBio{
    grid-area: main;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBio div{
    background-color: #fcd1df;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: star;
    flex-direction: column;
    padding: 25px;
    border-radius: 20px;
}

.mainBio div h2{
    font-family: cursive;
    font-size: 40px;
    color: #8f133c;
}

.mainBio div p{
    font-family: cursive;
    font-size: 20px;
    padding-bottom: 30px;
}

.mainBio__btn{
    border: 1px #8f113c;
    border-radius: 20px;
}

.mainBio div a{
    font-family: calibri;
    font-size: 20px;
    text-decoration: none;
    color:#0e0d0d;
    text-align: center;
    background-color: #c46f8b;
    border-radius: 18px;
    padding: 20px;
}

.mainBio div a:hover{
    background-color: #723046;
    border-radius: 15px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 20px;

}

.texto{
    font-family: cursive;
    font-size: 20px;
    color:#000;
    width: 550px;
    height: 350px;
    padding: 25px;
}

.imgContacto{
    width: 100%;
    height: 100%;
}




/* P치gina Cont치ctame.html*/

.bodyContacto{
    background-color: #e9c6d2;
    display: grid;
    grid-template-columns: 1fr   1fr;
    grid-template-rows: 80px   1fr  1fr 80px;
    grid-template-areas: "nav    nav"
                         "aside  header"
                         "aside  main"
                         "footer  footer"; 
}

.asideContacto{
    grid-area: aside;
}

.asideContacto img{
    width: 100%;
    height: 100%;
}

.headerContacto{
    grid-area: header;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloAsesoria{
    font-family: cursive;
    font-size: 35px;
    color: #8f113c;
    text-align: center;
}

.textoAsesoria{
    font-family: calibri;
    font-size: 18px;
    background-color: #e6e1e1;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin: 20px;
    padding: 15px;
}

.mainContacto{
    grid-area: main;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloContacto{
    font-family: cursive;
    font-size: 40px;
    color:#8f133c;
}

.redes{
    background-color:#e6e1e1;
    width: 350px;
    height: 100px;
    border-color: #070707;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items :center;
    padding: 10px;
    margin: 30px;
}

.redes__Ig{
    padding-right: 30px;
}
.redes__Fb{
    padding: 0px 30px;
}
.redes__Reg{
    padding-left: 30px;
}


@media(max-width:1000px){

    .bodyIndex{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px  1fr 1/4fr 1fr  1fr  80px;
        grid-template-areas:"nav"
                        "header"
                        "section"
                        "aside"
                        "main"
                        "footer";                
    }

    .bodyIndex .section{
        grid-area: section;
        width: 100%;
        height: 100%;
    }


    .bodyBlog{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 150px  1fr  1fr  1fr  80px;
        grid-template-areas: "nav"
                             "headerblog"
                             "tarjetasBlog"
                             "tarjetasRecursos"
                             "footer";                               
    }

    .tarjetasBlog{
        padding-bottom: 20px;
    }

    .tarjetasRecursos{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media(max-width:800px){
    .section{
        height: 150px;
    }
}

@media(max-width:770px){

    .mainRegistro{
        width: 100%;
        height: 400px;
    }

    .form{
        display: flex;
        flex-direction: column;
        margin: 30px 20px;
    }

    .form div{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}




@media(max-width:580px){

    .bodyIndex{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px  1fr  3/4fr  1fr  150px;
        grid-template-areas:"nav"
                        "header"
                        "aside"
                        "main"
                        "footer";
    }

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    nav .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav .navbar ul li{
        font-size:small;
    }



    .headerIndex__div h1{
        width: 70%;
        font-size: 70px;
        text-align: center;
    
    }
    

    .foto__img{
        width: 400px;
        height: 400px;
        align-items: center;
        justify-content: center;
    }

    .footer{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}